* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	font-size: 1.2rem;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.titel{
	font-family: Bahnschrift;
	background-color: #fea2b9;
	font-size: 1.3rem;
}
.titel1{
	font-family: bebas-neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
}

.nav-link{
	text-align: center;
}

.burger{
	font-family: bebas-neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
}

.navbar{
	font-size: 1.8rem;
}

.nav-link {
	color: black!important;
}

.nav-link:hover{
	color: #fca1b8 !important;
}

.navbar-light .navbar-toggler-icon{
	background-image: url("/images/navbar-skarp.svg");
}

.cta-button{
	background-color: black;
	color: white;
	border-radius: 52px;
	padding: 20px;
	border: none;
	font-family: bebas-neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 35px;
}

.navbar{
	background-color: #0a58ca;
}

.titel2{
	font-family: bebas-neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4.8rem;
}

.titel3{
	font-family: bebas-neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2.2rem;
}

.clip{
	width: 350px;
	height: 350px;
}

//.video{
//	width: 310px;
//	height: 181.8px;
//}


@media (min-width: 1651px){
	.tekstboks{
		padding-left: 250px;
	}
}



@media (max-width: 400px){

	.titel1{
		font-size: 23px;
	}
	.cta-button{
		font-size: 1.2rem;
	}
	.clip{
		width: 300px;
		height: 300px;
	}

	// til øverste del
	.titel1-forside{
		font-size: 23px !important;
		margin-top: -500px !important;
		margin-left: 50px;
		line-height: 30px !important;
	}
	.navbar-nav{
		min-height: 100vh;
		transition: 2ms ease-in-out;
		font-size: 90px;
		margin-bottom: 50px;
	}
	.gif{
		width: 80% !important;
		margin-left: 20px;
	}

	.banana1{
		margin-left: 10px !important;
		margin-top: -200px !important;
	}

	.banana2{
		margin-left: 10px !important;
		margin-top: -210px !important;
	}


}




@media (max-width: 1024px){
	.form-control{
		max-width: 400px;
		display: inline-block;
	}
	.labeltitle{
		display: inline-block;
	}
}

@media (min-width: 1200px){
	.teamet{
		width: 337px;
		height: 230px;
	}

}



@media (max-width: 820px){
	.navbar-nav{
		min-height: 100vh;
		transition: 2ms ease-in-out;
		font-size: 50px;
		margin-top: 100px;
	}
}
@media (max-width: 768px){
	.navbar-nav{
		min-height: 100vh;
		transition: 2ms ease-in-out;
		font-size: 70px;
		margin-top: 200px;
	}
	//	fra 4/11/2022
	//fullscreen navbar
	.navbar-nav{
		min-height: 100vh;
		transition: 2ms ease-in-out;
		font-size: 70px;
		margin-top: 200px;
	}

	.gif{
		margin-top: 30px !important;
		margin-left: 50px;
		width: 70% !important;
	}

	.banana1{
		width: 100%;
		margin-left: 30px;
	}
	.banana2{
		width: 100%;
		margin-left: -30px;
		margin-top: 100px;
	}

	.titel1-forside{
		margin-top: 20px !important;
		font-size: 40px;
	}

}

@media (max-width: 400px){

	.navbar-nav{
		min-height: 100vh;
		transition: 2ms ease-in-out;
		font-size: 90px;
		margin-top: -100px;
	}
}

.form-group{
	font-family: "Permanent Marker", sans-serif;
}

.form-control{
	border: 1px solid black;
}

.labeltitle{
	font-family: "Permanent Marker", sans-serif;
	font-size: 20px;
}

input{
	font-family: bebas-neue, sans-serif;
	letter-spacing: 2px;
	border: 1px solid black;
}

input::placeholder {
	letter-spacing: 0px;
}

textarea{
	resize: none;
	width: 150px;
	height: 200px;
	font-family: bebas-neue, sans-serif;
	letter-spacing: 1px;
}

.kontakt-titel{
	font-family: bebas-neue, sans-serif;
	font-size: 50px;
}

.sendbtn{
	width: 150px;
	height: 50px;
	font-family: bebas-neue, sans-serif;
	font-size: 25px;
	border-radius: 50px;
}

.copyright{
	font-family: bebas-neue, sans-serif;
}
.omos-title{
	font-family: bebas-neue, sans-serif;
	font-size: 50px;
}
.omos-descrip{
	font-family: jaf-bernino-sans-condensed,sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-size: 30px;
}



.picname{
	font-family: bebas-neue, sans-serif;
	letter-spacing: 1px;
}
.picjob{
	font-family: "Permanent Marker", sans-serif;
	font-size: 15px;
}


// customized scrollbar
/* width */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: black;
}

// ØVERSTE DEL (IKKE NAVBAR)
.col-header{
	width: 50%;
	margin-bottom: 200px;
}

.banana1{
	width: 65%;
	margin-left: 190px;
	margin-top: -150px;
}

.banana2{
	width: 100%;
	margin-left: -90px;
	margin-top: -260px;
}

.gif{
	width: 40%;
	margin-top: 50px;
}