* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #f6ff32;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.titel{
	font-family: Bahnschrift;
	background-color: #fea2b9;
	font-size: 1.3rem;
}
.titel1{
	font-family: bebas-neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
}

.nav-link{
	text-align: center;
}

.burger{
	font-family: bebas-neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
}

.navbar{
	font-size: 1.8rem;
}

.nav-link {
	color: black!important;
}

.nav-link:hover{
	color: #fca1b8 !important;
}

.navbar-light .navbar-toggler-icon{
	background-image: url("/images/navbar-skarp.svg");
}

.cta-button{
	background-color: black;
	color: white;
	border-radius: 52px;
	padding: 20px;
	border: none;
	font-family: bebas-neue,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 35px;
}

.navbar{
	background-color: #0a58ca;
}




@media (max-width: 400px){

	.titel1{
		font-size: 23px;
	}
	.cta-button{
		font-size: 1.2rem;
	}
}


@media (min-width: 1200px){
	.teamet{
		width: 337px;
		height: 230px;
	}

}

.form-group{
	font-family: "Permanent Marker", sans-serif;
}
